PROJECT_NAME=linkedout
PORT=9003
NODE_ENV=development
DATABASE_HOST=linkedout-pg-db
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_PORT=5432
DATABASE_NAME=linkedout
JWT_SECRET=a-string-secret-at-least-256-bits-long