PROJECT_NAME=linkedout
PORT=9003
NODE_ENV=development
DATABASE_HOST=linkedout-pg-db
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_PORT=5432
DATABASE_NAME=linkedout
JWT_SECRET=a-string-secret-at-least-256-bits-long
API_TOKEN=7c9f5b2f6e9a4d8cbb1e3a7f90c1d2e34f5a6b7c8d9e0f1a2b3c4d5e6f708192